h1 {
    color: tomato;
    background-color: green;
}

.bluetext {
    color: #0000FF;

}

#greenid {
    color: green;
    background-color: #FF0000;

}

a {
    color: red;
    text-decoration: none;

  }
  
  a:hover {
    color: green;
    text-decoration: underline;
  }    
