nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    border: 1px solid black;
    width: 200px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: darkblue;
    background-image: linear-gradient(to bottom, #7276cc, #5b5eb5, #44469e, #2b3087, #0b1a71);
    display: inline-block;

}

nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px;

}

nav li a:hover {
    background-color: blue;
    background-image: linear-gradient(to top, #7276cc, #5b5eb5, #44469e, #2b3087, #0b1a71);

}