body {
  background-color: #E4E4E4;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  padding: 24px;
  background-color: #E7E1EC;
  border: 1px solid #CDCDCD;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

}

header {
  grid-column: span 12;

}

.header {
  padding: 20px;
  background-color: #BB85E8;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

}

.navigation {
  grid-column: span 4;

}

nav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;

}

nav li {
  display: inline-block;
  padding: 30px;
  margin: 20px 10px 10px 0px;
  width: 300px;
  background-color: #BB85E8;
  color: white;
}

nav li a {
  display: block;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
}

nav li:hover {
  color: #E4E4E4;
  background-color: #825E9F;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
}

main {
  grid-column: span 8;

}

.projecttitle1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 3px solid white;
  padding-bottom: 10px;
  margin-left: 340px;

}

.img1 {
  float: left;
  width: 300px;
  padding: 20px;

}

.project1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;

}

.img2 {
  float: right;
  width: 300px;
  padding: 20px;

}

.projecttitle2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 3px solid white;
  padding-bottom: 10px;
  margin-top: 100px;
  margin-right: 340px;
  
}

.project2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;

}

.footer {
  grid-column: span 12;
  padding: 20px;
  background-color: #BB85E8;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 25px;
}